
   body{
    background: 
        linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
        url("background.png") no-repeat center center fixed;
    background-size: cover;
    color: #e2e8f0;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}
.hero-content h1{
    color: #ffffff;
}
.hero-content span{
    color:#38bdf8;
    text-shadow: 0 0 12px rgba(56,189,248,0.6);
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(56,189,248,0.3);
}


/* CONTAINER */
.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

/* NAVBAR */
header{
    position:fixed;
    width:100%;
    background:rgba(11,17,32,0.95);
    backdrop-filter:blur(8px);
    border-bottom:1px solid #1e293b;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo{
    font-weight:700;
    font-size:20px;
    color:#38bdf8;
}

nav a{
    text-decoration:none;
    color:#cbd5e1;
    margin-left:30px;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    align-items:center;
}

.hero-content h1{
    font-size:48px;
    font-weight:700;
}

.hero-content span{
    color:#38bdf8;
}

.hero-content p{
    margin:20px 0;
    max-width:600px;
    color:#94a3b8;
}

.btn{
    display:inline-block;
    padding:12px 22px;
    background:#38bdf8;
    color:#0b1120;
    text-decoration:none;
    font-weight:600;
    border-radius:6px;
    transition:0.3s;
}

.btn:hover{
    background:#0ea5e9;
}

/* SECTIONS */
section{
    padding:100px 0;
}

.section-title{
    font-size:30px;
    margin-bottom:40px;
    position:relative;
}

.section-title::after{
    content:"";
    width:60px;
    height:3px;
    background:#38bdf8;
    position:absolute;
    left:0;
    bottom:-10px;
}

/* PROJECT CARDS */
.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.project-card{
    background:#111827;
    padding:25px;
    border-radius:12px;
    border:1px solid #1e293b;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-6px);
    border-color:#38bdf8;
}

.project-card h3{
    margin-bottom:10px;
    color:#38bdf8;
}

.project-card p{
    color:#94a3b8;
    font-size:14px;
}

.project-card a{
    display:inline-block;
    margin-top:15px;
    text-decoration:none;
    color:#38bdf8;
    font-weight:500;
}

/* CONTACT */
.contact-box{
    background:#111827;
    padding:30px;
    border-radius:12px;
    max-width:450px;
    border:1px solid #1e293b;
}

.contact-box p{
    margin-bottom:10px;
}

.contact-box a{
    color:#38bdf8;
    text-decoration:none;
}

/* FOOTER */
footer{
    text-align:center;
    padding:30px 0;
    border-top:1px solid #1e293b;
    color:#64748b;
    font-size:14px;
}

/* RESPONSIVE */
@media(max-width:768px){
    .hero-content h1{
        font-size:34px;
    }
}
